body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
section{
    height:500px;
    padding-bottom: 200px;
}
.top-banner{
    background-image:url("images/top-banner.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.half-width{
    width:40%;
    margin-left:5%;
    padding:2%;
}
h1{
    font-size:50px;
}
h1:first-child{
    font-size:30px;
}
.half-width img{
    width:90%;
}
.orange-color{
    color:orange;
}
.half-width p{
    color:dimgray;
}
.half-width button{
    padding:10px 30px;
    background-image:linear-gradient(to bottom,#FFC41F,#ff8432);
    font-weight:700;
    border:none;
    font-size:16px;
    border-radius:2px;
    text-transform:uppercase;
    cursor:pointer;
}
.half-width button a{
    text-decoration:none;
    color:white;
}

.dream-big{
    background-image:url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position:right;
}

.experience-item .half-width{
    background-image:white;
    box-shadow:10px 10px 40px 20px rgba(0,0,0,.1);
    padding-left:20px;
    
}
.experience div{
    border-left:7px solid;
    border-image:linear-gradient(to bottom,lightsalmon,tomato);
    border-image-slice:1;
    height:80%;
}
.experience div:last-child{
    border-image:linear-gradient(to bottom,blue,cyan);
    border-image-slice:1;
}
div.experience-item{
    border:none;
}
.experience .half-width h3{
    color:orange;
}
.experience .half-width h1{
    font-size:40px;
}
.experience h1{
    font-size:50px;
}
.experience{
    background-image:url(images/exp-bg.png);
    background-repeat:no-repeat;
    background-position:left;
}
.flexible-container{
    display:flex;
}
footer p{
    text-align:center;
}